$color: #8d92a3;
$text-color: #0f1d5b;
.container {
  padding: 30px;
  position: relative;
  background: #f7f6f7 0% 0% no-repeat padding-box;
  label {
    display: block;
    color: $color;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: Roboto;
  }
  input {
    width: 100%;
    padding: 8px 50px;
    border: none;
    font-size: 18px;
    font-weight: normal;
    font-family: Roboto, sans-serif;
    outline: none;
    color: $text-color;
    background: #ffffff;
    border-radius: 5px;
    &::placeholder {
      color: $color;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -30px;
    padding: 0 15px;
    img {
      width: 22px;
    }
  }
}
@media (max-width: 480px) {
  .container {
    min-width: 100%;

    input {
      font-size: 16px;
    }
    .buttons {
      margin-top: -30px;
    }
  }
}
